body {
  margin: 0;
}

.sidebar {
  width: 200px;
}

.content {
  margin-left: 200px;
}

.login-card {
  max-width: 400px;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0;
  }
}
